@model Pinturería_Acuarela.Color

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Color</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Codigo Hexadecimal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rgb_hex_code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
