@model IEnumerable<Pinturería_Acuarela.Sell>

@{
    ViewBag.Title = "Historial de Ventas";
}

<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/orders.css" rel="stylesheet" />
<link href="~/Content/notification.css" rel="stylesheet" />
<link href="~/Content/daterangepicker.css" rel="stylesheet" />

<div class="d-flex align-items-end">
    <a class="btn btn-dark py-2" href="../../Sells/Create"><i class="bi bi-arrow-left"></i></a>
    <div class="d-flex flex-grow-1 justify-content-center me-md-4">
        <h1 class="text-center">Ventas del último mes</h1>
    </div>
</div>
<hr class="mb-3" />

@* Input fecha *@
<div class="sombra p-4 mb-4 mx-auto d-flex justify-content-center" style="border-radius: 20px; max-width: fit-content">
    <div id="searchContainer" class="d-flex justify-content-center">
        <div class="d-flex flex-column">
            <label for="datepicker" class="form-label">Intervalo de fechas:</label>
            <input type="text" class="form-control py-2" id="datepicker" readonly placeholder="dd/mm/aaaa" />
        </div>
    </div>
</div>

@* Tabla *@
<table id="dataTable" class="container table table-striped table-bordered table-hover pt-4">

</table>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>
<script src="~/Scripts/notification.js"></script>
<script src="~/Scripts/saledetails.js"></script>
<script src="~/Scripts/datatables.js"></script>

<script>
    $(".clickable-row").click(function () {
        window.location = $(this).data("href");
    });
</script>

<style>
    .clickable-row:hover {
        cursor: pointer;
        background-color: aliceblue;
    }
</style>