@model IEnumerable<Pinturería_Acuarela.Sell>

@{
    ViewBag.Title = "Historial de Ventas";
}

<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/orders.css" rel="stylesheet" />
<link href="~/Content/notification.css" rel="stylesheet" />

<div class="d-flex align-items-end">
    <a class="btn btn-dark py-2" href="../../Sells/Create"><i class="bi bi-arrow-left"></i></a>
    <div class="d-flex flex-grow-1 justify-content-center me-md-4">
        <h1 class="text-center">Ventas del último mes</h1>
    </div>
</div>
<hr class="mb-3" />

@* Tabla *@
<table id="dataTable" class="container table table-striped table-bordered table-hover pt-4">
    <thead class='table-dark'>
        <tr class="fw-bold text-center">
            <td>
                Fecha venta
            </td>
        </tr>
    </thead>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr class='clickable-row text-center' data-href='/Sells/DetailsSale/@item.id'>
                <td>
                    Día: @(item.date.ToShortDateString())
                    <br>
                    Hora: @(item.date.ToShortTimeString())
                </td>
            </tr>
        }
    }

</table>
</div>
