@model IEnumerable<Pinturería_Acuarela.Business>

@{
    ViewBag.Title = "Sucursales";
}

<h2>Sucursales</h2>

<p>
    @Html.ActionLink("Añadir una nueva sucursal", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adress)
        </td>
        <td>
            <div class="d-flex flex-row justify-content-center">
                <a class='btn btn-success me-4' href="Businesses/Edit/@item.id"><i class='bi bi-pencil-square'></i></a>
                <a class='btn btn-danger ms-4' href="Businesses/Delete/@item.id"><i class='bi bi-trash3'></i></a>
            </div>
        </td>
    </tr>
}

</table>
