@model IEnumerable<Pinturería_Acuarela.Subcategory>

@{
    ViewBag.Title = "Subcategorías";
}

<h2>Subcategorías</h2>

<p>
    @Html.ActionLink("Cargar una subcategoría", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Descripcion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            <div class="d-flex flex-row justify-content-center">
                <a class='btn btn-success me-4' href="Subcategories/Edit/@item.id"><i class='bi bi-pencil-square'></i></a>
                <a class='btn btn-danger ms-4' href="Subcategories/Delete/@item.id" ><i class='bi bi-trash3'></i></a>
            </div>
        </td>
    </tr>
}

</table>
